<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.EducationPromotionAssessorMapper">

    <insert id="insertBatch" parameterType="List" keyProperty="id" useGeneratedKeys="true">
        insert into construction_industry_api.t_education_promotion_assessor (id, education_promotion_id,
        education_promotion_order_id, full_name, sex, identity_card, telephone_number, application_school, major,
        educational_system, original_education, improve_education, evaluation_fee, agency_amount,
        creator_id, gmt_create, regenerator_id, gmt_modified)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.educationPromotionId},
            #{item.educationPromotionOrderId},
            #{item.fullName},
            #{item.sex},
            #{item.identityCard},
            #{item.telephoneNumber},
            #{item.applicationSchool},
            #{item.major},
            #{item.educationalSystem},
            #{item.originalEducation},
            #{item.improveEducation},
            #{item.promotionFee},
            #{item.agencyAmount},
            #{item.creatorId},
            #{item.gmtCreate},
            #{item.regeneratorId},
            #{item.gmtModified}
            )
        </foreach>
    </insert>
    <update id="updateBatchByIds">
        update construction_industry_api.t_education_promotion_assessor
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="full_name =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.fullName!=null and item.fullName!= ''">
                        when id=#{item.id} then #{item.fullName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sex =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.sex!=null and item.sex!= ''">
                        when id=#{item.id} then #{item.sex}
                    </if>
                </foreach>
            </trim>
            <trim prefix="identity_card =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.identityCard!=null and item.identityCard!= ''">
                        when id=#{item.id} then #{item.identityCard}
                    </if>
                </foreach>
            </trim>
            <trim prefix="telephone_number =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.telephoneNumber!=null and item.telephoneNumber!= ''">
                        when id=#{item.id} then #{item.telephoneNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="application_school =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.applicationSchool!=null and item.applicationSchool!= ''">
                        when id=#{item.id} then #{item.applicationSchool}
                    </if>
                </foreach>
            </trim>
            <trim prefix="major =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.major!=null and item.major!= ''">
                        when id=#{item.id} then #{item.major}
                    </if>
                </foreach>
            </trim>
            <trim prefix="educational_system =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.educationalSystem!=null and item.educationalSystem!= ''">
                        when id=#{item.id} then #{item.educationalSystem}
                    </if>
                </foreach>
            </trim>
            <trim prefix="original_education =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.originalEducation!=null and item.originalEducation!= ''">
                        when id=#{item.id} then #{item.originalEducation}
                    </if>
                </foreach>
            </trim>
            <trim prefix="improve_education =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.improveEducation!=null and item.improveEducation!= ''">
                        when id=#{item.id} then #{item.improveEducation}
                    </if>
                </foreach>
            </trim>
            <trim prefix="evaluation_fee =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.agencyAmount!=null and item.agencyAmount!= ''">
                        when id=#{item.id} then #{item.agencyAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="agency_amount =case" suffix="end,">
                <foreach collection="listUpdateRecords" item="item">
                    <if test="item.agencyAmount!=null and item.agencyAmount!= ''">
                        when id=#{item.id} then #{item.agencyAmount}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        id in (
        <foreach collection="listUpdateRecordIds" separator="," item="item">
            #{item}
        </foreach>
        )
    </update>
    <delete id="deleteBatchByEducationPromotionId">
        delete
        from construction_industry_api.t_education_promotion_assessor
        where education_promotion_id = #{id}
    </delete>
    <delete id="deleteBatchByEducationPromotionAssessorIds">
        delete
        from construction_industry_api.t_education_promotion_assessor
        where id in
        (
        <foreach collection="listDeleteRecordIds" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
</mapper>
