<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.QualificationAcquisitionApplicationMapper">

    <select id="queryList" resultType="com.industry.entity.QualificationAcquisitionApplication">
        select qualification_acquisition_application_id,
               gmt_create,
               gmt_modified,
               creator_id,
               regenerator_id,
               remark,
               status,
               applied_transfer_amount,
               purpose_funds,
               transfer_account
        from t_qualification_acquisition_application
    </select>
    <select id="queryById" resultType="com.industry.entity.QualificationAcquisitionApplication" parameterType="Integer">
        select qualification_acquisition_application_id,
               gmt_create,
               gmt_modified,
               creator_id,
               regenerator_id,
               remark,
               status,
               applied_transfer_amount,
               purpose_funds,
               transfer_account
        from t_qualification_acquisition_application
        where qualification_acquisition_application_id = #{id}
    </select>
</mapper>
