<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.QualificationAcquisitionMapper">

    <select id="listQualificationAcquisition" resultType="QualificationAcquisitionDO">
        select id,
               remark,
               status,
               transfer_customers,
               area,
               category_and_grade,
               acquisition_amount,
               safety_permit,
               construction_progress,
               qualified_personnel,
               acquisition_date,
               gmt_create,
               creator_id,
               gmt_modified,
               regenerator_id
        from construction_industry_api.t_qualification_acquisition
        order by id desc
    </select>
</mapper>
