<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.TalentApprovalFlowMapper">
    <insert id="insertAuditRecord" keyProperty="id" useGeneratedKeys="true">
        insert into construction_industry_api.t_talent_approval_flow
        (talent_transfer_id,audit_status, audit_result, approval_opinion, next_audit_role_id, creator_id, gmt_create)
        values (#{talentTransferId},
                #{auditStatus},
                #{auditResult},
                #{approvalOpinion},
                #{nextAuditRoleId},
                #{creatorId},
                #{gmtCreate})
    </insert>

    <select id="listByTalentTransferId" resultType="TalentApprovalFlowDO">
        select id, talent_transfer_id, audit_result, approval_opinion, next_audit_role_id, creator_id, gmt_create
        from construction_industry_api.t_talent_approval_flow
        where talent_transfer_id = #{talentTransferId}
    </select>

    <resultMap id="getLatestRecordByTalentTransferIdMap" type="TalentApprovalFlowDO">
        <id column="id" property="id"/>
        <result column="audit_result" property="auditResult" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getLatestRecordByTalentTransferId" resultType="TalentApprovalFlowDO"
            resultMap="getLatestRecordByTalentTransferIdMap">
        select id,
               talent_transfer_id,
               audit_result,
               approval_opinion,
               next_audit_role_id,
               creator_id,
               gmt_create
        from construction_industry_api.t_talent_approval_flow
        where id =
              (select max(id) from construction_industry_api.t_talent_approval_flow where talent_transfer_id = #{id})
    </select>
</mapper>
