<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.TalentVisitMapper">

    <resultMap id="listTalentVisitsMap" type="TalentVisitDO">
        <result column="is_need_visit_again" property="needVisitAgain"/>
    </resultMap>

    <select id="listTalentVisits" resultMap="listTalentVisitsMap" resultType="TalentVisitDO">
        select id,
               talent_id,
               visit_content,
               is_need_visit_again,
               visit_again_time
        from construction_industry_api.t_talent_visit
        where talent_id = #{talentId}
        order by id desc
    </select>
</mapper>
