<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.TalentEntryMapper">

    <update id="updateTalentOrderId">
        update construction_industry_api.t_talent_entry
        set talent_order_id = #{talentOrderId}
        where talent_order_id = #{originalTalentOrderId}
    </update>
    <select id="getCountByCondition" resultType="Long">
        select count(*)
        from t_talent_entry_record as t1
        left join t_talent_order t2 on t1.talent_order_id = t2.id
        left join t_talent_entry t3 on t1.talent_entry_id = t3.id
        where 1 = 1
        <if test="search.status != null and search.status != ''">
            and t1.status = #{search.status}
        </if>
        <if test="search.creatorId != null and search.creatorId != ''">
            and t1.creator_id = #{search.creatorId}
        </if>
        <if test="search.startDate != null and search.startDate != ''">
            and t3.transfer_date &gt;= #{search.startDate}
        </if>
        <if test="search.endDate != null and search.endDate != ''">
            and t3.transfer_date &lt;= #{search.endDate}
        </if>
        <if test="search.fullName != null and search.fullName != ''">
            and t1.full_name like concat('%',#{search.fullName},'%')
        </if>
        <if test="search.enterpriseName != null and search.enterpriseName != ''">
            and t2.enterprise_name like concat('%',#{search.enterpriseName},'%')
        </if>
        <if test="search.transferorInfo != null and search.transferorInfo != ''">
            and t3.transferor_info like concat('%',#{search.transferorInfo},'%')
        </if>
    </select>

    <resultMap id="listTalentEntryByConditionPagesMap" type="TalentEntryRecordDO">
        <result column="id" property="id"/>
        <association property="talentOrder" column="talent_order_id" autoMapping="true">
            <id column="id2" property="id"/>
        </association>
        <association property="talentEntry" column="talent_entry_id" autoMapping="true">
            <id column="id3" property="id"/>
        </association>
    </resultMap>
    <select id="listTalentEntryByConditionPages"
            resultMap="listTalentEntryByConditionPagesMap"
            resultType="TalentEntryRecordDO">
        select t1.id,
        t1.talent_order_id,
        t1.status,
        t1.talent_id,
        t1.full_name,
        t1.entry_amount,
        t1.funds_purpose,
        t1.other_fee,
        t1.contract_balance,
        t1.enterprise_offer,
        t1.enterprise_offer_number,
        t1.enterprise_offer_unit,
        t1.talent_price,
        t1.talent_price_number,
        t1.number_unit,
        t1.creator_id,
        t1.gmt_create,
        t1.regenerator_id,
        t1.gmt_modified,
        t1.talent_entry_id,
        t1.approval_opinion,
        t2.id as id2 ,
        t2.enterprise_id,
        t2.orderno,
        t2.enterprise_name,
        t2.enterprise_demand_ids,
        t2.order_status,
        t2.order_demand,
        t2.creator_id as creator_id2,
        t2.gmt_create as gmt_create2,
        t2.regenerator_id as regenerator_id2,
        t2.gmt_modified as gmt_modified2,
        t3.id as id3,
        t3.enterprise_account_id,
        t3.talent_order_id,
        t3.transferor_info,
        t3.transfer_way,
        t3.transfer_date,
        t3.creator_id as creator_id3,
        t3.gmt_create as gmt_create3,
        t3.regenerator_id as regenerator_id3,
        t3.gmt_modified as gmt_modified3
        from t_talent_entry_record as t1
        left join t_talent_order t2 on t1.talent_order_id = t2.id
        left join t_talent_entry t3 on t1.talent_entry_id = t3.id
        where 1 = 1
        <if test="search.status != null and search.status != ''">
            and t1.status = #{search.status}
        </if>
        <if test="search.creatorId != null and search.creatorId != ''">
            and t1.creator_id = #{search.creatorId}
        </if>
        <if test="search.startDate != null and search.startDate != ''">
            and t3.transfer_date &gt;= #{search.startDate}
        </if>
        <if test="search.endDate != null and search.endDate != ''">
            and t3.transfer_date &lt;= #{search.endDate}
        </if>
        <if test="search.fullName != null and search.fullName != ''">
            and t1.full_name like concat('%',#{search.fullName},'%')
        </if>
        <if test="search.enterpriseName != null and search.enterpriseName != ''">
            and t2.enterprise_name like concat('%',#{search.enterpriseName},'%')
        </if>
        <if test="search.transferorInfo != null and search.transferorInfo != ''">
            and t3.transferor_info like concat('%',#{search.transferorInfo},'%')
        </if>
        group by t1.id
        order by t1.id
        limit #{page.currentPage},#{page.pageSize}
    </select>
</mapper>
