<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industry.mapper.TitleEvaluationOrderMapper">

    <insert id="insertOrder" keyProperty="id" useGeneratedKeys="true">
        insert into construction_industry_api.t_title_evaluation_order
        (orderno, title_evaluation_id, assessor_num, agency_total_amount, creator_id, gmt_create, regenerator_id,
         gmt_modified)
        values (#{orderno},
                #{titleEvaluationId},
                #{assessorNum},
                #{agencyTotalAmount},
                #{creatorId},
                #{gmtCreate},
                #{regeneratorId},
                #{gmtModified})
    </insert>
    <select id="listOrders" resultType="TitleEvaluationOrderDO">
        select id,
               orderno,
               title_evaluation_id,
               assessor_num,
               agency_total_amount,
               order_status,
               creator_id,
               gmt_create,
               regenerator_id,
               gmt_modified
        from construction_industry_api.t_title_evaluation_order
        where title_evaluation_id = #{id}
        order by id desc
    </select>

    <resultMap id="getDetailByIdMap" type="TitleEvaluationOrderDO">
        <id column="id" property="id"/>
        <association property="titleEvaluation" select="selectTitleEvaluationById" column="title_evaluation_id"/>
        <association property="totalEvaluationFee" select="selectTotalEvaluationFee"
                     column="title_evaluation_order_id"/>
        <collection property="listAssessors" ofType="TitleAssessorDO">
            <id column="id2" property="id"/>
            <result column="title_evaluation_id2" property="titleEvaluationId"/>
            <result column="creator_id2" property="creatorId"/>
            <result column="gmt_create2" property="gmtCreate"/>
            <result column="regenerator_id2" property="regeneratorId"/>
            <result column="gmt_modified2" property="gmtModified"/>
        </collection>
    </resultMap>
    <select id="selectTotalEvaluationFee" resultType="BigDecimal">
        select sum(evaluation_fee)
        from construction_industry_api.t_title_assessor
        where title_evaluation_order_id = #{title_evaluation_order_id}
    </select>

    <select id="getDetailById" resultType="TitleEvaluationOrderDO" resultMap="getDetailByIdMap">
        select t1.id,
               t1.orderno,
               t1.title_evaluation_id,
               t1.assessor_num,
               t1.agency_total_amount,
               t1.order_status,
               t1.creator_id,
               t1.gmt_create,
               t1.regenerator_id,
               t1.gmt_modified,
               t2.id                  as id2,
               t2.title_evaluation_id as title_evaluation_id2,
               t2.title_evaluation_order_id,
               t2.sex,
               t2.identity_card,
               t2.telephone_number,
               t2.education,
               t2.graduation_major,
               t2.evaluation_major,
               t2.title_evaluation,
               t2.certificate_nature,
               t2.agency_amount,
               t2.appraisal_way,
               t2.creator_id          as creator_id2,
               t2.gmt_create          as gmt_create2,
               t2.regenerator_id      as regenerator_id2,
               t2.gmt_modified        as gmt_modified2,
               t2.evaluation_fee,
               t2.full_name,
               t2.evaluation_status
        from construction_industry_api.t_title_evaluation_order as t1
                 left join construction_industry_api.t_title_assessor as t2
                           on t1.id = t2.title_evaluation_order_id
        where t1.id = #{id}
    </select>
    <select id="getCountListAllOrders" resultType="Long">
        select count(*)
        from construction_industry_api.t_title_evaluation_order as tteo
        left join t_title_evaluation as tte on tte.id = tteo.title_evaluation_id
        where 1 = 1
        <if test="customerName != null and customerName != ''">
            and tte.customer_name like concat('%',#{customerName},'%')
        </if>
        <if test="status != null">
            and tteo.order_status = #{status}
        </if>
    </select>

    <resultMap id="listAllOrdersMap" type="TitleEvaluationOrderDO">
        <id column="id" property="id"/>
        <association property="titleEvaluation" select="selectTitleEvaluationById" column="title_evaluation_id">
        </association>
    </resultMap>

    <select id="selectTitleEvaluationById" resultType="TitleEvaluationDO">
        select id,
               customer_type,
               customer_name,
               telephone_number,
               principal,
               status,
               gmt_create,
               regenerator_id,
               gmt_modified,
               remark,
               creator_id
        from construction_industry_api.t_title_evaluation
        where id = #{title_evaluation_id}
    </select>

    <select id="listAllOrders" resultType="TitleEvaluationOrderDO" resultMap="listAllOrdersMap">
        select
        tteo.id,
        tteo.orderno,
        tteo.title_evaluation_id,
        tteo.assessor_num,
        tteo.agency_total_amount,
        tteo.order_status,
        tteo.creator_id,
        tteo.gmt_create,
        tteo.regenerator_id,
        tteo.gmt_modified
        from construction_industry_api.t_title_evaluation_order as tteo
        left join t_title_evaluation as tte on tte.id = tteo.title_evaluation_id
        where 1 = 1
        <if test="customerName != null and customerName != ''">
            and tte.customer_name like concat('%',#{customerName},'%')
        </if>
        <if test="status != null">
            and tteo.order_status = #{status}
        </if>
        order by tteo.id desc
        limit #{page.currentPage},#{page.pageSize}
    </select>
    <select id="selectIdsByIds" resultType="Integer">
        select id
        from construction_industry_api.t_title_assessor where id in
        (<foreach collection="ids" item="item" separator=",">
        #{item}
    </foreach>)
    </select>
    <select id="selectOrderById" resultType="TitleEvaluationOrderDO">
        select id,
               orderno,
               title_evaluation_id,
               assessor_num,
               agency_total_amount,
               order_status,
               creator_id,
               gmt_create,
               regenerator_id,
               gmt_modified
        from construction_industry_api.t_title_evaluation_order
        where id = #{id}
    </select>
    <select id="listAssessorsByOrderId" resultType="TitleAssessorDO">
        select id,
               title_evaluation_id,
               title_evaluation_order_id,
               sex,
               identity_card,
               telephone_number,
               education,
               graduation_major,
               evaluation_major,
               title_evaluation,
               certificate_nature,
               agency_amount,
               appraisal_way,
               creator_id,
               gmt_create,
               regenerator_id,
               gmt_modified,
               evaluation_fee,
               full_name,
               evaluation_status
        from construction_industry_api.t_title_assessor
        where title_evaluation_order_id = #{id}
    </select>


    <update id="updateAssessorByIds">
        update construction_industry_api.t_title_assessor
        set agency_amount = case id
        <foreach collection="list" item="item" index="index">
            when #{item.id} then #{item.agencyAmount}
        </foreach>
        end,
        evaluation_fee = case id
        <foreach collection="list" item="item" index="index">
            when #{item.id} then #{item.evaluationFee}
        </foreach>
        end
        where id in
        <foreach collection="list" separator="," item="item" open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <update id="updateOrderById">
        update construction_industry_api.t_title_evaluation_order
        set order_status = #{status}
        where id = #{id}
    </update>
</mapper>
